$bg-color:     #EBECF0;
$header-color: #1C1C1C;
$footer-color: #1C1C1C;

$navlink-color: #6D9BC3;
$navlink-color-active: #EBECF0;

$div-card-color: #BEBEBE;
$div-shadow-color: #2E2E2E;

$text-color: #1C1C1C;
$text-color-light: #EBECF0;

$heading-color: #00b327;

$link-color: #507dbc;
$link-color-secondary: #BEBEBE;
$link-color-hover: #FF5964;


$text-size-small: 0.75em;
$text-size-default: 1em;
$text-size-medium: 1.5em;
$text-size-large: 2em;

$heading-size-small: 1.5em;
$heading-size-default: 2em;
$heading-size-medium: 2.5em;
$heading-size-large: 3em;
$heading-size-huge: 4em;

$line-height-default: 1.25;
$line-height-medium: 1.5;


$mq-phone: 768px;